#page-footer {
  position: fixed;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0; }

.navbar {
  width: 100%; }
  .navbar .container-fluid {
    width: 900px;
    margin: 0 auto; }

#aside-left {
  width: 200px;
  height: 400px;
  background-color: #f8f8f8;
  color: black;
  float: left; }
  #aside-left li {
    color: black; }
    #aside-left li a {
      background-color: #e7e7e7;
      color: black; }

#article-news {
  list-style: none;
  margin-left: 300px; }
  #article-news li {
    height: 30px;
    width: 600px;
    font-size: 15px;
    overflow: hidden; }
    #article-news li a {
      color: #111;
      float: left; }
    #article-news li .del,
    #article-news li #update {
      float: left;
      color: red;
      font-size: 13px;
      margin-left: 20px; }
      #article-news li .del:hover,
      #article-news li #update:hover {
        cursor: pointer; }
    #article-news li #update {
      color: green; }
